body {
  color: #333;
  font-family: "Avenir";
  font-size: 13px;
  font-weight: 500;
  margin: 0;
  padding: 0;
  position: relative;
}
.clear{
	clear: both;
}
img{
	border: none;
}
* {
	box-sizing: border-box;
}
img {
	border: none;
}
/* header */
.container {
	max-width: 1024px;
	margin: 0 auto;
}
#header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	
	background: #fff;
	z-index: 10;
}
#header .container {
  padding: 20px 0;
-webkit-box-shadow: 0px 5px 5px -7px rgba(204,12,NaN,0.64);
-moz-box-shadow: 0px 5px 5px -7px rgba(204,12,NaN,0.64);
box-shadow: 0px 5px 5px -7px rgba(204,12,NaN,0.64);
}
.logo {
	float: left;
	margin: 0;
	
}
.header-right {
  float: right;
  margin-top: 30px;
}
.main-menu {
	float: right;
}
.main-menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
}
.main-menu ul li {
	display: inline-block;
	margin-left: 45px;
}
.main-menu ul li a {
	font-size: 16px;
	color: #766a62;
	font-family: 'Archer';
	text-decoration: none;
	font-weight: 600;
}
.form-search {
	float: right;
	margin-left: 60px;
}
.form-search input[type="text"]{
	width: 168px;
	height: 29px;
	border: solid 1px #333;
	font-size: 12px;
	color: #333;
	font-family: 'AvenirLTStd-Book';
	padding: 0 5px;
	display: inline-block;
	float: left;
}
.form-search input[type="submit"]{
	width: 31px;
	height: 29px;
	border: none;
	background: url("images/icon-search.jpg") no-repeat;
	background-size: 100% 100%;
	cursor: pointer;
	display: inline-block;
	border: solid 1px #333;
	float: left;
	margin-left: 5px;
}
.banner{
	background: url("images/banner.jpg") no-repeat;
	background-position: top left;
	height: 334px;
	padding-left: 50px;
}
.inner-banner {
	display: inline-block;
	vertical-align: middle;
	max-width: 270px;
}
.empty {
  display: inline-block;
  height: 85%;
  vertical-align: middle;
  width: 1px;
}
.inner-banner h2 {
	margin: 0 0 5px 0;
	font-size: 29px;
	color: #d52b1e;
	font-family: 'Archer-Book';
	font-weight: normal;
	line-height: 33px;
}
.inner-banner p {
	margin: 0 0 8px 0;
	font-size :13px;
	color: #40332d;
	font-family: 'AvenirLTStd-Book';
}
.inner-banner a {
	display: inline-block;
	width: 197px;
	height: 37px;
	background: #f0ab00;
	text-align: center;
	line-height: 37px;
	font-size: 18px;
	font-family: 'MyriadPro-Regular';
	 color: #fff;
	 text-decoration: none;
}
.inner-banner a:hover {
	background: #d73e30;
}
.list-find {
	padding-bottom: 35px;
}
.list-find ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
	text-align: center;
}
.list-find ul li {
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  margin-right: 13%;
  padding: 0 10px 10px;
  width: 23.33%;
  vertical-align: top;
}
.list-find ul li:nth-child(3n) {
	margin-right: 0;
}
.wrapper-icon {
	width: 122px;
	height: 122px;
	margin: 0 auto;
	background: #f0ab00;
	border-radius: 50%;
	position: relative;
	margin-bottom: 25px;
}
.wrapper-icon img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
.list-find ul li a {
	color: #f0ab00;
	text-decoration: none;
}
.list-find ul li:hover a {
	color: #ee3a29
}
.list-find ul li:hover .wrapper-icon {
	background: #f0ab00;
}
.list-product {
	background: url("images/bg-list-product.jpg");
	padding-bottom: 70px;
-webkit-box-shadow: inset 0px -6px 7px -6px rgba(204,204,204,1);
-moz-box-shadow: inset 0px -6px 7px -6px rgba(204,204,204,1);
box-shadow: inset 0px -6px 7px -6px rgba(204,204,204,1);
}
.section-product {
	padding: 35px 55px 0 55px;
}
.title-section-product {
	border-bottom: solid 1px #eaeaea;
}
.title-section-product h2 {
	font-size :15px;
	color: #766a62;
	margin: 0;
	 font-family: 'Archer';
	 font-weight :600;
	 float: left;
}
.title-section-product a {
	color: #dd4814;
	font-size: 13px;
	text-decoration: none;
	font-family: 'AvenirLTStd-Roman';
	float: right;
}
.section-product ul {
  font-size: 0;
  list-style: outside none none;
  margin: 0 ;
  padding: 40px 0 0;
}
.section-product ul li {
  display: inline-block;
  font-size: 15px;
  margin-right: 6.5%;
  text-align: center;
  width: 29%;
  vertical-align: top;
}
.section-product ul  li:nth-child(3n) {
	margin: 0;
}
.section-product ul li img {
  max-width: 100%;
}
.wrapper-img-thumb {
  background: #fff none repeat scroll 0 0;
  box-shadow: 0 0 8px #ddd;
  margin-bottom: 14px;
  padding: 18px 15%;
  position: relative;
}
.wrapper-img-thumb > img {
	 height: 190px;
  max-width: 100%;
  width: auto;
}
.wrapper-hover {
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(225,104,95,0.71);
  display: none;
}
.section-product ul  li:hover .wrapper-hover {
	display: block;
}
.inner-hover {
  display: inline-block;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 30%;
  text-align: center;
  font-size: 13px;
	 font-family: 'Avenir';
	 font-size: 500;
	 text-decoration: none;
	 color: #fff;
}
.inner-hover img {
	display: block;
	margin: 0 auto;	 
}
.name-cat {
  color: #40332d;
  font-size: 15px;
  font-weight: 900;
  margin: 0 0 12px;
  text-align: center;
}
.name-cat  span {
	 font-family: 'Avenir';
	 font-weight: 500;
	 display: block;
}
.short-view {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 94px;
  height: 90px;
  background: url("images/bg-short-view.png") no-repeat;
  background-size: 100%;
}
.inner-short-view {
  font-size: 12px;
  font-family: 'Avenir';
	 font-weight: 500;
	 color: #fff;
	 position: absolute; 
	 bottom: 13px;
	 right: 7px;
	 text-align: center;
}
.inner-short-view span {
	display: block;
}
.section-product ul  li:hover .short-view {
	display: none;
}
.name-product {
  margin: 0 0 10px 0;
  font-size: 13px;
  color: #40332d;
   font-family: 'AvenirLTStd-Book';
   font-weight: normal;
   text-align: center;
}
.name-product  span {
	display: block;
}
.section-product a.view-detail {
 font-family: 'AvenirLTStd-Book';
  color: #dd4814;
  font-size: 13px;
  text-decoration: none;
}
.section-product a.view-detail:hover {
	text-decoration: underline;
}
.view-all {
	text-align: right;
}
.view-all a {
	 font-family: 'AvenirLTStd-Roman';
	  color: #dd4814;
  font-size: 13px;
  text-decoration: none;
}
/* footer */
#footer {
	background: #fff;
	padding: 20px 0 10px 0;
}
.box-item {
  float: left;
  font-size: 13px;
  color: #40332d;
  padding-right: 5px;
}
.box-social {
	
}
.box-item:first-child {
	width: 34%;
}
.box-item:nth-child(2) {
	width: 29%;
}
.box-item:nth-child(3) {
	width: 22.5%;
}
.box-item:nth-child(4) {
	width: 14.5%;
}
.box-item p {
	margin: 0;
}
.box-social a {
	display: inline-block;
	vertical-align: middle;
	margin-left: 12px;
}
.box-item h2 {
	margin: 0 0 8px 0;
	font-family: 'Avenir';
	font-weight: 500;	
	font-size: 13px;
}
.box-item ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.box-item ul li {
	display: block;
	margin-bottom: 5px;
}
.box-item ul li a {
	color: #5c7f92;
	text-decoration: none;
}
.box-item ul li a:hover {
color: #40332d;
}

.footer-top {
  padding: 0 55px 10px 55px;
}
.footer-bottom {
	background: #fff url("images/bg-footer-bottom.jpg") repeat-x;
	background-size: auto 100%;
	background-position: top left;
	font-family: 'AvenirLTStd-Roman';
	font-size: 13px;
	padding: 20px 55px;
}
.copy-right {
	float: left;
	margin: 0;
}
.footer-right {
	float: right;
}
.footer-right a {
	color: #333;
	text-decoration: none;
}
.toogle-menu {
  background: #fff none repeat scroll 0 0;
  color: #333;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  padding: 5px 0;
  position: relative;
  text-align: right;
  width: 100px;
  display: none;
}
.toogle-menu a {
  display: block;
  height: 23px;
  left: 10px;
  position: absolute;
  top: 3px;
  width: 22px;
}
.toogle-menu span {
  background: none repeat scroll 0 0 #333;
  display: block;
  height: 3px;
  margin: 3px auto;
  width: 16px;
}
/* Washer Page  */
.content-page {	
	padding-top: 30px;	
}
.content-page .container {
  padding: 0 70px;
  box-shadow: 0 -6px 5px -6px rgba(204, 204, 204, 1) inset;
	padding-bottom: 125px;
}
.breadcrumb {
	color: #dd4814;
	font-size: 13px;
	font-family: 'AvenirLTStd-Roman';
	padding-top: 5px;
	margin-bottom: 25px;
}
.breadcrumb a {
	color: #dd4814;
	text-decoration: none;
}
.breadcrumb a:hover {
	text-decoration: underline;
}
.content-left {
  float: left;
  width: 31.2%;
}
.list-img img {
  box-shadow: 0 0 8px #ddd;
  max-width: 100%;
  width: 100%;
}
.list-img ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
}
.img-larger img{
  max-height: 100%;
}
.list-img ul li {
	width: 22%;
	margin-right: 2%;
	display: inline-block;
	box-shadow: 0 0 5px #ddd;
	cursor: pointer;
}
.list-img ul li:nth-child(4n) {
	margin-right: 0;
}
.list-img > p {
  font-size: 14px;
  margin: 12px 0;
  text-align: center;
}
.list-img {
  margin-bottom: 16px;
}
.energy-start {
  background: #f2f2f2;
   font-family: 'Avenir';
}
.inner-energy {
	text-align: center;
	padding: 34px 46px 20px 46px;
}
.inner-energy > h2 {
  font-size: 17px;
  font-weight: 500;
  margin: 0  0 20px 0;
}
.inner-energy > h2  span {
	font-size: 41px;
	color: #00a9ec;
	display :block;
	 font-family: 'Avenir-Heavy';
}
.inner-energy > h2  span sub {
	color: #444;
	font-size: 16px;
}
.inner-energy > p {
  font-size: 14px;
  margin: 0 0 15px 0;
}
.content-right {
  width: 68%;
  float: left;
  padding-left: 25px;
}
.info-title-pro {
	float: left;
	width: 60%;
	padding-right: 15px;
}
.link-product {
  float: left;
  margin-top: 26px;
  text-align: right;
  width: 40%;
}
.title-product {
  font-size: 35px;
  font-weight: 900;
  margin: 0;
}
.info-title-pro .model {
	font-size: 14px;
	margin: 0;
	 font-family: 'AvenirLTStd-Book';
	 margin-bottom: 35px;
}
.link-product  a {
	width: 88%;
	display: inline-block;
	font-size: 20px;
	color: #fff;
	padding: 0 15px 0 26px;
	height: 40px;
	background: #a2c121 url("images/arrow-right.png")  no-repeat right 15px center;
	text-align: left;
	margin-bottom: 10px;
	line-height: 40px;
	text-decoration: none;
	border-radius: 3px;
}
.link-product  a:hover {
	opacity: 0.8;
}
.link-product a.price-rebate {
	background: #d52b1e url("images/arrow-right.png")  no-repeat right 15px center;
}
.price {
	font-size: 35px;
	  font-weight: 900;
	  line-height: 100%;
	  margin: 0;
}
.price sub {
	font-size: 13px;
	font-family: 'AvenirLTStd-Book';
	font-weight: normal;
}
.content-detail {
   font-family: 'AvenirLTStd-Roman';
   font-size: 14px;
   color: #40332d;
}
.content-right > p {
  font-size: 14px;
}
.title-tab > ul {
  font-size: 0;
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
.title-tab > ul li {
  font-size :14px;
  vertical-align: bottom;
  color: #40332d;
  border-bottom: solid 1px #999;
  display: inline-block;
  width: 20%;
  text-align: center;
  padding: 12px 5px 7px;
  cursor: pointer;
}
.title-tab > ul li.active {
	border-bottom: none;
	border-left: solid 1px #40332d;
	border-right: solid 1px #40332d;
	border-top: solid 2px #5c7f92;
}
.content-tab-item.active {
	display :block !important;
}
.content-tab {
  padding-top: 20px;
}
.content-tab-item h2 {
  font-size: 17px;
  font-weight: 500;
  margin: 0 0 15px 0;
}
.note-form {
   font-family: 'AvenirLTStd-Roman';
   margin: 0 0 30px 0
}
.form-w50 {
  float: left;
  margin: 0 2% 15px 0;
  width: 49%;
}
.form-w100 {
	margin-bottom: 10px;
	margin-top: 0;
}
.form-w50.last {
	margin-right: 0;
}
.form-w50 > input {
  
   
}
form.your-claim input,
form.your-claim textarea {
	height: 30px;
	width: 100%;
	font-family: 'AvenirLTStd-Roman';
	font-size: 13px;
	color: #43434;
	border: solid 1px #999;
	padding: 0 12px;
}
form.your-claim textarea {
	  resize: none;
}
form.your-claim input::-webkit-input-placeholder ,
form.your-claim textarea::-webkit-input-placeholder {
   color: #43434;
   opacity:1;
}
form.your-claim input:-moz-placeholder,
form.your-claim textarea:-moz-placeholder { 
   color: #43434;
   opacity:1; 
}
form.your-claim input::-moz-placeholder,
form.your-claim textarea::-moz-placeholder {  
   color: #43434;
   opacity:1;
}
form.your-claim input:-ms-input-placeholder,
form.your-claim textarea:-ms-input-placeholder {  
   color: #43434;
   opacity:1;
}
.form-w100 {
	font-size: 0;
}
.form-w100 input,
.form-w100 textarea,
.form-w100 select ,
.form-w100 email {
	display: inline-block;
}
.city {
  margin-right: 5%;
  width: 40%;
}
.ca {
   margin-right: 5%;
  width: 23%;
}
.zip-code {
  width: 27%;
}

.form-w50 select {
  -moz-appearance: none;
  border: 1px solid #999;
  color: #434343;
  cursor: pointer;
  display: inline-block;
  height: 30px;
  margin: 0;
  outline: medium none;
  padding: 3px;
  width: 100%;
}

/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
   .form-w50 select {padding-right:18px}
}
.form-w50 label.name-of-retailer {
  display: inline-block;
  position: relative;
  width: 100%;
}
.form-w50 label.name-of-retailer:after {
    content: '';
    background: url("images/arrow-down.png") no-repeat center center #fff;
    width: 25px;
    height: 25px;
    right: 5px;
    top: 1px;
    padding: 0 0 2px;
    position: absolute;
    pointer-events: none;
}

span.form-w50.last  input.datafile {
	display: none;
}
.custom-file-upload {
  color: transparent;
  font-size: 0;
  height: 25px;
  padding: 0;
  background: url("images/bg-fileupload.jpg") no-repeat center center;
  cursor: pointer;
  display: inline-block;
  width: 97px;
  height: 30px;
  vertical-align: middle;
  float: right;
}
.form-w50.last > input {
  vertical-align: middle;
  border: none;
}
.form-w50.last {
  border: 1px solid #999;
  margin-right: 0;
  text-align: right;
}
.form-w50.last {
  margin-right: 0;
  border: solid 1px #999;
  text-align: right;
  padding-right: 5px;
}
span.form-w50.last > input {
  display: block;
  margin-right: 0;
  width: auto;
}
.form-w100 > input[type="submit"] {
  height: 45px;
  border: none;
  border-bottom: solid 1px #739600;
  background: #a2c121;
  font-size: 17px;
  color: #fff;
  font-family: 'Avenir';
	font-weight: 500;
	cursor: pointer;
}
.form-w100 > input[type="submit"]:hover {
	opacity: 0.8;
}
.energy-start > img {
  width: 100%;
}
.specifications {
  list-style: outside none none;
  margin: 0;
  padding: 0;
  width: 100%;
}
.specifications > li {
  width: 100%;
  padding: 8px 0;
}
.specifications > li .left {
	float: left;
}
.specifications > li:nth-child(even) {
	background: #f8f8f8;
}
.specs.left {
  width: 46%;
}
.details.left {
  float: left;
  width: 54%;
}
.inner-form {
  display: inline-block;
  vertical-align: middle;
  border: solid 1px #999;
  padding-right: 8px;
}
.inner-form > input {
  border: medium none;
  height: 34px;
  padding: 0 8px;
  width: 134px;
  font-size: 13px;
  color: #766a62;
}
.search {
  background:url("images/icon-search2.png") no-repeat;
  background-position: center center;
  height: 34px;
  width: 18px;
  border: none;
  cursor: pointer;
  margin-right: 5px;
  }
  .search-location {
  background:url("images/icon-location.png") no-repeat;
  background-position: center center;
  height: 34px;
  width: 18px;
  border: none;
  cursor: pointer;
  }
  .find-location {
  text-align: center;
  margin-bottom: 23px;
}
  .list-location {	
	margin: 0;
	padding: 0;
	list-style: none;
  }
.list-location li {
  border-bottom: 1px solid #999;
  font-size: 0;
  padding: 13px 0;
}
 .list-location li .left {
	font-size: 13px;
	vertical-align: middle;
	display: inline-block;
 }
.list-location li .logo-location.left {
  width: 22%;
  text-align: center;
}
.address-location.left {
  width: 42%;
}
.icon-location.left {
  width: 36%;
}
.order-location {
  display: inline-block;
  vertical-align: middle;
  width: 22px;
  height: 30px;
  text-align: center;
  line-height: 22px;
  font-size: 15px;
  color: #fff;
  background: url("images/icon-location2.png") no-repeat;
}
.get-direction {
  display: inline-block;
  vertical-align: middle;
}
.get-direction > p {
  margin: 0 0 5px 0;
}
.get-direction > a {
  text-decoration: none;
  font-size: 14px;
  color: #53a7ef;
  text-transform: capitalize;
}
.address-location.left > p {
  margin: 0;
  line-height: 16px;
}
.address-location.left > a {
  color: #434343;
  font-size: 15px;
  font-weight: 900;
  text-decoration: none;
}
.list-location li .icon-location.left {
  vertical-align: top;
}
.locatorMap_listContainer.locatorMap_list--desktop {
  display: none;
}
#mapContainer_map {
  float: right;
  width: 100%;
}
.list-map {
  margin-bottom: 35px;
}
.logo-location.left > img {
  max-width: 93%;
}
.features h3 {
	font-size :14px;
	font-weight: 500;
	margin: 0;
}
.features p {
  font-family: 'AvenirLTStd-Book';
	font-size :14px;
	font-weight: normal;
	margin: 0 0 20px 0;
}
.banner.banner-page {
	background:url("images/banner-page.jpg") no-repeat;
	height: 215px;
}
.inner-washer-page {
  background: url("images/bg-list-product.jpg") ;
  padding: 30px 68px 0;
}
.left-page {
  float: left;
  width: 20%;
}
.brand-pro label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 15px;
    font-size: 13px;
}
.brand-pro input[type="checkbox"] {
    display:none;
}
 .brand-pro label:before {
    border-radius: 3px;
	 width:18px;
    height:19px;
	background:url(images/checkbox.png) left top no-repeat;
	position:absolute;
	top: 0;
	left: 0;
	content: "";
}
.brand-pro input[type=checkbox]:checked + label:before {
	content: "";
	width: 25px;
	height: 20px;
	background:url(images/checkbox-check.png) left top no-repeat;
	text-align: center;
	line-height: 15px;
}
.left-page > h2 {
  color: #40332d;
  font-size: 13px;
  font-weight: 900;
  margin: 0 ;
  padding-bottom: 10px;
}
.left-page > h3 {
	margin: 20px 0 10px 0;
	 color: #40332d;
  font-size: 13px;
  font-weight: 900;
}
.brand-pro {
  margin: 0 0 15px;
}
.right-page {
  float: left;
  width: 80%;
}
.title-product-washer {
  border-bottom: 1px solid #ccc;
  font-size: 0;
  margin-bottom: 7px;
  padding-bottom: 7px;
}
.title-product-washer .left {
  display: inline-block;
  font-size: 13px;
  text-align: center;
  vertical-align: middle;
  width: 12.5%;
}
.title-product-washer .left.brand-product {
 width: 25%;
 text-align: left;
}
.title-product-washer.list-product-compare {
  border: medium none;
  list-style: outside none none;
  margin: 0 0 100px 0;
  padding: 0;
}
.title-product-washer .left.brand-product img {
	max-width: 94px;
	   box-shadow: 0 0 4px #ddd;
	   display: inline-block; 
	   vertical-align: middle;
}
.title-product-washer .left.brand-product span {
 display: inline-block; 
	   vertical-align: middle;
	   margin-left: 0px;
}
.title-product-washer .left.brand-product > span {
	   margin-left: 0px;
}
.washer.left {
  text-align: left;
}
.title-product-washer.list-product-compare > li {
  padding: 16px 5px 13px;
}
.title-product-washer.list-product-compare > li:nth-child(odd) {
  background: #fff;
}
.title-product-washer.list-product-compare > li:nth-child(even) {
  background: rgba(230,230,230,0.8);
}
.brand-product .brand-pro {
  padding: 10px 0 0;
  margin: 0;
}
.page-page {
  padding-bottom: 58px;
}
.brand-product .brand-pro label span {
 width: 71px;
  height: 23px;
  text-align: center;
  line-height: 23px;
  background: #999999;
  color: #fff;
  cursor: pointer;
}
.wrapper-img {
  display: inline-block;
  vertical-align: middle;
}
.page-page > p {
  float: left;
  margin: 0;
  width: 35%;
}
.page-page > ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: right;
}
.page-page > ul li {
 display: inline-block;
 margin: 0 10px;
}
.page-page > ul li a {
	color: #86a0ad;
	text-decoration: none;
}
.page-page > ul li a:hover {
	font-weight: 900;
	color: #434343;
}
.page-page > ul li span {
	font-weight: 900;
}
.page-washer .container {
  box-shadow: 0 -6px 7px -6px rgba(204, 204, 204, 1) inset;
}
.brand-product .brand-pro label {
  margin-right: 0;
}
.show-respon {
	display:none;
}
.popup-compare {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  background: rgba(128,117,110,0.8);
  z-index: 18;
  display: none;
}
.inner-compare {
  left: 0;
  margin: auto;
  max-height: 100%;
  max-width: 945px;
  position: absolute;
  right: 0;
  top: 50px;
}
.inner-compare > h2 {
  color: #fff;
  font-size: 16px;
  font-weight: normal;
  margin: 0 0 40px;
}
.close {
  color: #fff;
  font-size: 30px;
  font-weight: 500;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}
.list-compare {
  font-size: 0;
  list-style: outside none none;
  margin: 0;
  padding: 0 30px;
}
.list-compare li {
  display: inline-block;
  font-size: 13px;
  margin: 0 2%;
  position: relative;
  text-align: center;
  vertical-align: top;
  width: 29%;
}
.list-compare li img {
	max-width: 100%;
	max-height: 162px;
	width: auto;
}
.remove {
  color: #766a62;
  cursor: pointer;
  font-size: 17px;
  left: 10px;
  position: absolute;
  top: 11px;
}
.wrapper-img-product {
  background: #fff;
  padding: 45px 10px 10px;
  font-size: 17px;
  margin-bottom: 10px;
}
.wrapper-img-product > h3 {
  margin: 37px 0 10px 0;
  font-weight: 500;
  font-size: 17px;
  color: #434343;
}
.wrapper-img-product > a {
  text-decoration: none;
  color: #739600;
}
.detail-compare > ul {
  margin: 0;
  padding: 0;
  list-style: none;
  background: #fff;
}
.detail-compare li {
  display: block;
  margin: 0;
  padding: 14px;
  text-align: left;
  width: 100%;
}
.detail-compare li:nth-child(even) {
	background: #f6f6f6;
}
.detail-compare h3 {
  color: #434343;
  font-size: 14px;
  font-weight: 500;
  margin: 0;
}
.detail-compare p,
.detail-compare h4 {
  margin: 0;
  font-family: 'AvenirLTStd-Book';
  font-weight: normal;
  font-size: 13px;
}
.link-product.link-popup {
  float: none;
  margin: 13px auto 0;
  max-width: 202px;
  width: 100%;
}
.content-tab-item .page-page {
  float: none;
  margin-top: 35px;
  padding-bottom: 10px;
  width: 100%;
}
.content-tab-item .page-page ul {
text-align: center;
}
.remove > span {
  font-size: 20px;
}
.inner-compare h2 {
  color: #fff;
  font-size: 16px;
  font-weight: normal;
  font-family: 'Archer-Book';
}
.zoom {
	display:inline-block;
	position: relative;
	box-shadow: 0 0 8px #ddd;
}

/* magnifying glass icon */
.zoom:after {
	content:'';
	display:block; 
	width:33px; 
	height:33px; 
	position:absolute; 
	top:0;
	right:0;
	background:url(http://rebatesfromsmud.com/icon.png);
}

.zoom img {
	display: block;
}
	.zoom img:hover {
		cursor: pointer;
	}

.zoom img::selection { background-color: transparent; }
.zoomImg {
height: auto !important;
width: 150% !important;
}