/* Use font-face for website */
@font-face {
    font-family: 'Archer-Book';
    src: url('Archer-Book.eot');
    src: url('Archer-Book.eot?#iefix') format('embedded-opentype'),
         url('Archer-Book.woff2') format('woff2'),
         url('Archer-Book.woff') format('woff'),
         url('Archer-Book.ttf') format('truetype'),
         url('Archer-Book.svg#Archer-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Archer';
    src: url('Archer_Bold.eot');
    src: url('Archer_Bold.eot?#iefix') format('embedded-opentype'),
         url('Archer_Bold.woff2') format('woff2'),
         url('Archer_Bold.woff') format('woff'),
         url('Archer_Bold.ttf') format('truetype'),
         url('Archer_Bold.svg#Archer_Bold') format('svg');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Archer';
    src: url('Archer-Semibold.eot');
    src: url('Archer-Semibold.eot?#iefix') format('embedded-opentype'),
         url('Archer-Semibold.woff2') format('woff2'),
         url('Archer-Semibold.woff') format('woff'),
         url('Archer-Semibold.ttf') format('truetype'),
         url('Archer-Semibold.svg#Archer-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Avenir';
    src: url('AvenirBlack.eot');
    src: url('AvenirBlack.eot?#iefix') format('embedded-opentype'),
         url('AvenirBlack.woff2') format('woff2'),
         url('AvenirBlack.woff') format('woff'),
         url('AvenirBlack.ttf') format('truetype'),
         url('AvenirBlack.svg#AvenirBlack') format('svg');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Avenir-Heavy';
    src: url('Avenir-Heavy.eot');
    src: url('Avenir-Heavy.eot?#iefix') format('embedded-opentype'),
         url('Avenir-Heavy.woff2') format('woff2'),
         url('Avenir-Heavy.woff') format('woff'),
         url('Avenir-Heavy.ttf') format('truetype'),
         url('Avenir-Heavy.svg#Avenir-Heavy') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'AvenirLTStd-Book';
    src: url('AvenirLTStd-Book.eot');
    src: url('AvenirLTStd-Book.eot?#iefix') format('embedded-opentype'),
         url('AvenirLTStd-Book.woff2') format('woff2'),
         url('AvenirLTStd-Book.woff') format('woff'),
         url('AvenirLTStd-Book.ttf') format('truetype'),
         url('AvenirLTStd-Book.svg#AvenirLTStd-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'AvenirLTStd-Roman';
    src: url('AvenirLTStd-Roman.eot');
    src: url('AvenirLTStd-Roman.eot?#iefix') format('embedded-opentype'),
         url('AvenirLTStd-Roman.woff2') format('woff2'),
         url('AvenirLTStd-Roman.woff') format('woff'),
         url('AvenirLTStd-Roman.ttf') format('truetype'),
         url('AvenirLTStd-Roman.svg#AvenirLTStd-Roman') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Avenir';
    src: url('Avenir-Medium.eot');
    src: url('Avenir-Medium.eot?#iefix') format('embedded-opentype'),
         url('Avenir-Medium.woff2') format('woff2'),
         url('Avenir-Medium.woff') format('woff'),
         url('Avenir-Medium.ttf') format('truetype'),
         url('Avenir-Medium.svg#Avenir-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'MyriadPro-Regular';
    src: url('MyriadPro-Regular.eot');
    src: url('MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
         url('MyriadPro-Regular.woff2') format('woff2'),
         url('MyriadPro-Regular.woff') format('woff'),
         url('MyriadPro-Regular.ttf') format('truetype'),
         url('MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
    font-weight: 500;
    font-style: normal;
}